doctype html
html(ng-app='christina')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/app.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')

  body
    block content
